@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #343434;
}

h1 {
  margin: 30px;
  font-family: 'Molle', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #e6b31e;
}

.btn-start {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  font-family: 'Molle', cursive;
  font-size: 2rem;
  margin: 0 auto 0 auto;
}

/* On mouse-over */
.btn-start:hover {
  background: #eee;
}

.btn-start {
  color: red;
}

p {
  font-size: 2rem;
  color: #e6b31e;
  font-family: 'Molle', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #cacaca;
  text-align: center;
  font-family: 'Molle', cursive;
}
